.nature {
    color: #bb86fc;
}

.nature-nor {
    color: #bb86fc;
}

.reply-nor {
    color: #1f8ee7;
}

.comment-nor{
    color: #3296cc;
}

.example-nor{
    color: #f25071;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
    color: red;
  }

  mark {
    background: #bb86fc !important;
    color: #000 !important;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    padding-bottom: 0.05rem;
}