::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    background-clip: padding-box;
    background-color: #bb86fc;
    background-image: linear-gradient(45deg, rgba(34,34,34,0.5) 25%, transparent 0, transparent 50%, rgba(34,34,34,0.5) 0, rgba(34,34,34,0.5) 75%, transparent 0, transparent);
}

::selection {
    background: #bb86fc;
    color: #000;
}

.md-top:-webkit-any(:focus,:hover){
    background-color:#bb86fc;
    color:#000;
    font-weight: bold !important;
}

.md-top:-moz-any(:focus,:hover){
    background-color:#bb86fc;
    color:#000;
    font-weight: bold !important;
}


.md-top:is(:focus,:hover){
    background-color:#bb86fc;
    color:#000;
    font-weight: bold !important;
}

.md-typeset figure {
    font-size: 0.65rem !important;
}

/* .arithmatex {
    font-size: 0.65rem !important;
} */


/* font size latex code */

mjx-container.MathJax.CtxtMenu_Attached_0 {
    font-size: 0.9rem !important;
}

/* home  */

.md-button.md-button--primary:hover {
    background: #bb86fc !important;
    border-color: #bb86fc !important;
    color: #000 !important;
}

.md-button:hover{
    background: #bb86fc !important;
    border-color: #bb86fc !important;
    color: #000 !important;
} 

.md-tag:hover {
    background: #bb86fc !important;
    color: #000 !important;
}

.md-typeset .md-content__button:hover{
    color: #bb86fc !important;
}

.md-content__button.md-icon:hover{
    color: #bb86fc !important;
}

.headerlink:hover{
    color: #bb86fc !important;
}

.fa-eye::before {
    font-style: normal;
    font-family: 'FontAwesome';
    content: "\f06e";
    font-size: 0.9rem;
    margin-right: 0.3rem;
    color: #bb86fc;
}

h1{
    margin-bottom: -.9px !important;
    margin-top: 3rem !important;
}

.bi.bi-eye-fill {
    margin-bottom: -4px !important;
    margin-right: 4px !important;
}

.bi.bi-eyeglasses {
    margin-bottom: -4px !important;
    margin-right: 4px !important;
}